*{
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cardBG{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logincard form{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    font-size: 18px;
    color: white;


    button{
        width: 100px;
        padding: 10px 20px;
        font-size: 18px;
        border: 1px solid black;
        border-radius: 25px;
        background-color: #6CB4EE;
    }

    input{
        padding: 10px;
        border: 1px solid black;
        border-radius: 25px;
        background-color: whitesmoke;
    }
}